@use "../../../assets/styles/variable";

.prevSentenceBox {
  background: rgba(#fff, 0.1);
  padding: 8px;
  border-left: 1px solid variable.$border-color;
  border-right: 1px solid variable.$border-color;
  border-top: 1px solid variable.$border-color;

  &.incorrect {
    background: rgba(#f44336, 0.1);
  }

  p {
    margin: 0;
  }

  .sentence {
    color: rgba(#fff, 0.5);
  }

  .inp {
    color: rgba(#fff, 0.3);
  }

  &.incorrect {
    .inp {
      color: rgba(#f44336, 0.4);
    }
  }
}
